<html>

<head>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script src="difflib.js"></script>
</head>

<body>
  <div id="demo">
    <p>
      <input v-model="left" v-on="keyup:showdiff()"></input>
      <input v-model="right" v-on="keyup:showdiff()"></input>
    </p>
    {{diff}}
  </div>
</body>
<script>
  var vm = new Vue({
    el: "#demo",
    data: {
      left: '今日は晴れです。',
      right: '昨日は雨です.'
    },
    methods: {
      showdiff: function() {
        // thisにvmのインスタスが入ります。
        // v-onで名前だけで読んでもOK
        var vm = this,
          sm = new difflib.SequenceMatcher(vm.left, vm.right),
          opcodes = sm.get_opcodes()

        // diffをちょっとだけ見やすく
        opcodes.forEach(function(opcode) {
          opcode[5] = vm.left.slice(opcode[1], opcode[2]);
          opcode[6] = vm.right.slice(opcode[3], opcode[4]);
        })

        vm.diff = JSON.stringify(opcodes);
      }
    }
  })

  vm.showdiff()
</script>

</html>
