<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="AjaxForWebApplicationSample.HelloWorldAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="AjaxForWebApplicationSample.HelloWorld">
                <endpoint address="" behaviorConfiguration="AjaxForWebApplicationSample.HelloWorldAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="AjaxForWebApplicationSample.HelloWorld" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
