textarea(ng-model="newTweet")
button(ng-click="publish()", ng-disabled="newTweet.length == 0") Publish

ul.tweet-timeline
  li.tweet(ng-repeat="tweet in tweets")
    .content {{ tweet.content}}
    .date {{ tweet.created_at | date:'medium' }}
